<div class="section group">
	<div class="col span_1_of_3">
        <img class="logoskeuzemenu" src="images/afstand.svg" width="200px;"><br>
        <a class="textunderlogo">Closest</a>
	</div>
	<div class="col span_1_of_3">
        <a href="price.html"><img class="logoskeuzemenu" src="images/prijs.svg" width="200px"></a><br>
        <a class="textunderlogo" href="price.html">Price</a>
	</div>
	<div class="col span_1_of_3">
        <a href="LeastOccupied.html"><img class="logoskeuzemenu" src="images/parkeerplaatsen.svg" width="200px;"></a><br>
        <a class="textunderlogo" href="LeastOccupied.html">Least occupied</a>
	</div>
</div>